.featured-section {
  background-color: #fff;
}

.divider {
  width: 250px;
  border: none;
  border-top: 2px solid #910B3D;
}

/* Profile card styling */
.profile-card {
  padding: 15px;
  transition: transform 0.3s ease;
}

.profile-card:hover {
  transform: translateY(-5px);
}

/* Circular image with pink border */
.profile-image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #910B3D;
}


.featured-section {
  padding-top: 40px;
}

/* Remove all space between heading and the decorative image */
.featured-title {
  margin-bottom: 2px !important;  /* text to image gap = 2px */
}

/* Decorative image small & centered */
.featured-decor {
  width: 200px;        /* decrease size here */
  height: auto;
  margin: 0 auto;      /* center the image */
  display: block;
  padding-bottom: 25px;
}
